.loader__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
}

.loader__inline {
    padding: 5px;
    background-color: transparent;
    box-shadow: none;
    position: relative;
    width: auto;
    height: auto;
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: transparent;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
