@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Couleurs des liens */
    --link-color-background: #111827;
    --link-color-text: #ffffff;
    --link-color-tertiary: #F1F5EA;
    --link-color-hover: #242d41;
    --link-color-visited: #8e44ad;

    /* Couleurs des backgrounds */
    --background-color-primary: #ffffff;
    --background-color-secondary: #f8f9fa;
    --background-color-tertiary: #ecf0f1;
    --background-color-accent: #2c3e50;
    --background-color-highlight: #e67e22;
    --background-color-dashboard: #1F2937;
    --background-color-dashboard-second: #2c3e50;

    /* Couleurs des textes */
    --text-color-primary: #2c3e50;
    --text-color-secondary: #171d24;
    --text-color-tertiary: #7f8c8d;
    --text-color-muted: #bdc3c7;
    --text-color-highlight: #e74c3c;

    /* Couleurs des dégradés */
    --gradient-bg-from: #1B4A4E;
    --gradient-bg-via: #247B78;
    --gradient-bg-to: #66C2BE;
}
